:root {
    --primary-color: #00509d;
    --secondary-color: #fff;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #c3c3c3;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


h1 {
    margin: 0;
    padding-top: 10vh;
    font-size: 4em;
    text-align: center;
    color: var(--secondary-color);
}

/* Top of website */

#topSlide {
    min-height: 45vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#superContainer {
    margin: -13vh auto 0 auto;
    width: 45%;
}

#mainBox {
    background-color: var(--secondary-color);
    padding: 75px;
    border: 1px solid var(--primary-color);
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 0;
}

/* Tabs to switch functions */

.tab-row {
    width: 100%;
    padding: 0;
}

.tab {
    padding: 10px;
    width: 50%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    text-align: center;
}

.tab:hover {
    background-color: #001449;
}

#tabLeft {
    border-radius: 10px 0 0 0;
    border-left: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
}

#tabRight {
    border-radius: 0 10px 0 0;
    border-right: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
}

.active-tab {
    background-color: var(--secondary-color);
    color: #333;
}

.active-tab:hover {
    background-color: var(--secondary-color);
}

/* Inputs and buttons */

input {
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 1px solid #fdc500;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.push-div {
    width: 20%;
    text-align: center;
    position: relative;
}

.push-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: var(--primary-color);
}

.push-button:hover {
    cursor: pointer;
}

.input-field {
    width: 100%;
}

.value-field {
    margin: 0;
    height: 70px;
    font-size: 2.5em;
    padding: 40px 20px;
    border-radius: 10px 10px 0 0;
}

.currency-field {
    padding: 20px 20px;
    margin: 0;
    height: 45px;
    font-size: 1em;
    font-weight: 400;
    color: #555;
    border-radius: 0 0 10px 10px;
    border-top: 0;
}

.list-container {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    border: 1px solid #ddd;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
    background-color: var(--secondary-color);
}

.currency-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.currency-list li {
    font-size: .8em;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.currency-list li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

/* Generals */

.container {
    position: relative;
    width: 100%;
    padding: 0;
}

.curr-container {
    width: 40%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.error-info {
    font-weight: 300;
    color: tomato;
}

/* Second tab table styling */

.table-container {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table-container th {
    color: var(--primary-color)
}

.table-container td, .table-container th {
    padding: 20px;
}

.currency-symbol {
    width: 20%;
}

.currency-name {
    width: 50%;
}

.currency-value {
    width: 30%;
}

.currency-row {
    width: 100%;
}

.hidden {
    display: none;
}

.block-active {
    display: flex;
}

.table-active {
    display: inline-table;
}

.second-row {
    background-color: #f3f3f3;
}

tr:not(:first-child):hover {
    background-color: var(--primary-color);
    color: #fff;
}

/** RWD STYLES */

@media (min-width: 992px) and (max-width: 1200px) {
    #superContainer {
        width: 75%;
        padding: 5%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    #superContainer {
        width: 90%;
        padding: 10%;
    }
}

@media (max-width: 767px) {
    #superContainer {
        width: 90%;
        padding: 0;
    }

    #mainBox {
        padding: 10%;
    }
    

    h1 {
        font-size: 3em;
    }

    .row {
        flex-direction: column;
    }

    .tab-row {
        flex-direction: row;
    }

    #tableBox {
        flex-direction: row;
        width: auto;
    }

    #baseCurrencyTable {
        width: 70%;
    }

    #tablePushDiv {
        width: 30%;
    }

    #baseCurrency, #secondCurrency {
        width: 100%;
    }
    
    #convertDiv {
        width: 100%;
        text-align: center;
        position: relative;
        height: auto;
        min-height: 10vh;
    }

    #convert {
        font-size: 3em;
    }

    #currOne {
        margin-bottom: 0;
    }

    #tableCurrency {
        max-width: 100%;
        margin: 5vh 0 0 0;
        padding: 0;
    }

    .list-container {
        z-index: 999;
    }

    .table-container td, .table-container th {
        padding: 5px;  /* lub dowolna wartość, która nie jest zbyt duża */
    }

    .currency-symbol, .currency-name, .currency-value {
        width: auto;  /* lub użyj procentów */
    }
}